@import url('https://fonts.googleapis.com/css?family=Orbitron');

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 20;
  background-image: url("/css/zen/img/zen_bg.jpg"); 
  background-repeat: repeat;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  font-family: 'Orbitron', 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  }

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 300;
  color: #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
h2 {
  font-size: 300%;
  font-weight: 500;
  color: #000;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #000;
}


/*Base widget styles*/
 

.dashboard_main {
  margin: 0px auto;
  
}

.gridster {
  margin: 0px auto;
  
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}
.gs-w:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: inherit; 
}

.iframe {
  position: relative;
  overflow: hidden; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
 }
  .title {
    color: rgba(0, 0, 0, 0);
  }

  .icon-inactive {
    color: #888;
  }

  .icon-active {
    color: #ff0000;
  }
}

#container {
  padding-top: 10px;

}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #ce9863 }
.widget-baseiframe-default-weather-frame .title {
	position: absolute;
	bottom: 0px;
    margin: 0px 0px 0px 0px;
	width: 100%;
}

.widget-baseiframe-default-weather-frame .outer-frame {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    border: none;
}

.widget-baseiframe-default-weather-frame .outer-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    border: none;
}

.widget-baseiframe-default-weather-frame .scaled-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.widget-baseiframe-default-weather-frame .img-frame {
    width: 100%;
    height: 100%;
    border: none;
}
.widget-basedisplay-default-sensor-dark-sky-minutely-summary .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-minutely-summary .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-minutely-summary .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-minutely-summary .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-minutely-summary .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-minutely-summary .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-hourly-summary .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-hourly-summary .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-hourly-summary .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-hourly-summary .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-hourly-summary .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-hourly-summary .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-daily-summary .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-daily-summary .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-daily-summary .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-daily-summary .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-daily-summary .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-daily-summary .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-pressure .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-pressure .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-pressure .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-pressure .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-pressure .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-pressure .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-temperature .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-temperature .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-temperature .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-temperature .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-temperature .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-temperature .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-apparent-temperature .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-apparent-temperature .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-apparent-temperature .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-apparent-temperature .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-apparent-temperature .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-apparent-temperature .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-distance .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-distance .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-distance .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-distance .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-distance .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-distance .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-bearing .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-bearing .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-bearing .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-bearing .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-bearing .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-nearest-storm-bearing .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-speed .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-wind-speed .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-wind-speed .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-speed .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-speed .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-speed .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-bearing .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-wind-bearing .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-wind-bearing .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-bearing .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-bearing .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-wind-bearing .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-humidity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-humidity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-humidity .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-humidity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-humidity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-humidity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-visibility .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-visibility .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-visibility .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-visibility .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-visibility .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-visibility .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-probability .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-precip-probability .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-precip-probability .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-probability .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-probability .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-probability .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-intensity .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-sensor-dark-sky-precip-intensity .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-sensor-dark-sky-precip-intensity .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-intensity .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-intensity .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-sensor-dark-sky-precip-intensity .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

