*.pid
*.xml
*.csr
*.crt
*.key
OZW_Log.txt
home-assistant.log
*.db
*.db-journal
lib
deps
secrets.yaml
known_devices.yaml
*.conf
emulated_hue_ids.json
pyozw.sqlite
.uuid
.HA_VERSION
*.sqlite
html5_push_registrations.conf
ip_bans.yaml
.ring_cache.pickle
zwcfg*
zwscene.xml
zones/*
mqtt/passwd
google_assistant/creds.data
google_assistant/gactions
google_assistant/project.json
